<!doctype html>
<html>
    <head>
        <title>OpenBrain Project Visualization Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/viz_base.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="container-fluid">
            <form class="d-block" id="settingsForm">
                    <h3>Basic settings</h3>
                    <div class="form-group row">
                        <label for="exp_name" class="col-sm-2 col-form-label">Experiment name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="exp_name" placeholder="Experiment name" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="no_of_volumes" class="col-sm-2 col-form-label"># of volumes</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="no_of_volumes" placeholder="# of volumes" min="1">
                        </div>
                    </div>

                    <div class="form-group row">
                            <label for="repetition_time" class="col-sm-2 col-form-label">Repetition time</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="repetition_time" placeholder="Repetition time (in milliseconds)" min="500">
                            </div>
                        </div>
                    <div class="form-group row">
                            <label for="mode-select" class="col-sm-2 col-form-label">Display mode</label>
                            <select class="custom-select custom-select-sm" id="mode-select">
                                <option value="1" selected>fMRI</option>
                                <option value="2">Overlay</option>
                                </select>    
                    </div>

                    <div class="form-group row">
                        <button type="button" class="btn btn-primary" id="btnSaveSettings">Save settings</button>
                    </div>

                      
             </form>  

             <div class="d-none" id="vizControlButtons">
                <button type="button" class="btn btn-primary" id="startRTBtn">START RT</button>
                <button type="button" class="btn btn-danger" id="stopRTBtn">STOP RT</button>
                <button type="button" class="btn btn-secondary" id="nextBtn">Next</button>
                <button type="button" class="btn btn-secondary" id="prevBtn">Previous</button>
                <input type="range" min="1" max="1" value="1" id="volume-range-slider">
            </div>
            <div class="invisible" id="vizCanvas">
                <canvas id="3Dviewer">
                <img id="spriteImg" class="hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="background">
                <img id="overlayImg" class="hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="overlay">
                <img id="colorMap" class="hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="colormap">
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='brainsprite.min.js') }}"></script>       

        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"> </script>
    </body>
</html>