<!doctype html>
<html>
    <head>
        <title>OpenBrain Project Visualization Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/viz_base.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>

        <div class="container-fluid">
            <form class="d-block" id="settingsForm">
                    <h3>Experiment settings</h3>
                    <h6>Create a new experiment</h6>
                    <div class="form-group row">
                        <label for="exp_name" class="col-sm-2 col-form-label">Experiment name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="exp_name" placeholder="Experiment name" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="no_of_volumes" class="col-sm-2 col-form-label"># of volumes</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="no_of_volumes" placeholder="# of volumes" min="1">
                        </div>
                    </div>

                    <div class="form-group row">
                            <label for="repetition_time" class="col-sm-2 col-form-label">Repetition time</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="repetition_time" placeholder="Repetition time (in milliseconds)" min="500">
                            </div>
                    </div>

                    <div class="form-group row">
                        <label for="mode-select" class="col-sm-2 col-form-label">Display mode</label>
                        <div class="col-sm-10">
                            <select class="custom-select custom-select-sm" id="mode-select">
                                <option value="fMRI" selected>fMRI</option>
                                <option value="overlay">Overlay</option>
                            </select>
                        </div>        
                    </div>
                    <div class="form-group row">
                        <div id="file-selector" class="custom-file col-sm-10">
                            <input type="file" class="custom-file-input" id="roi_file">
                            <label class="custom-file-label" for="customFile">Choose overlay file</label>
                        </div>
                    </div>

                    <h6>Load an existing experiment</h6>
                    <div class="form-group row">
                        <label for="exp-dropdown" class="col-sm-2 col-form-label">Experiment name</label>
                        <div class="col-sm-10">
                            <select class="custom-select custom-select-sm" id="exp-dropdown">
                                <option value="none" selected>...</option>
                                {% for exp in exp_list %}
                                <option value="{{ exp }}">{{ exp }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <button type="button" class="btn btn-primary" id="btnSaveSettings">Save settings</button>
                    </div>

                      
            </form>
            <div class="d-none" id="vizControlButtons">
                <h3>Real-time operation</h3>
                <button type="button" class="btn btn-primary" id="startRTSimBtn">Start RT Simulation</button>
                <button type="button" class="btn btn-primary" id="startRTBtn">START RT</button>
                <button type="button" class="btn btn-danger" id="stopRTBtn">STOP RT</button>
                <button type="button" class="btn btn-secondary" id="prevBtn">Previous</button>
                <button type="button" class="btn btn-secondary" id="nextBtn">Next</button>
                <p>Volume number: <span id="volumeNumber">Template</span></p>
                <input type="range" min="1" max="1" value="1" id="volume-range-slider">
            </div>
            <div class="row align-items-center">
                <div class="col-8">
                    <div class="invisible" id="vizCanvas">
                        <canvas id="3Dviewer"/>
                        <img id="spriteImg" class="hidden" src="static/images/template.jpeg" alt="background">
                        <img id="overlayImg" class="hidden" src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+QMAAQoBAmT4Pi4AAAAASUVORK5CYII= " alt="overlay">
                        <img id="colorMap" class="hidden" src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+QMAAQoBAmT4Pi4AAAAASUVORK5CYII=" alt="colormap">
                    </div>
                </div>
                <div class="col-4">
                    <div id="voxel_value_graph"></div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="not-found-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Volume not found</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>Volume not found. Do you want to continue checking for new images or to stop the real time experiment?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="stopRTModalButton">STOP RT</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue checking</button>
              </div>
            </div>
          </div>
        </div>


        <script type="text/javascript" src="{{ url_for('static', filename='brainsprite.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='openbrain.js') }}"> </script>
    </body>
</html>